body {
   font-family: Arial, sans-serif;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh;
}

.container {
   max-width: 600px;
   margin: 50px auto;
   height: 350px;
   padding: 20px;
   border-radius: 8px;
}

h1 {
   text-align: center;
   font-size: 30px;
   color: #fff;
   padding: 10px;
}

h2 {
   color: #fff;
   font-size: 25px;
}

#options {
   margin-top: 20px;
   
}

.botao1 {
   display: inline-block; /* Garante que os elementos fiquem em linha */
   margin: 5px; /* Espaçamento entre os botões */
} 

.botao2 {
   text-align: center;
   padding: 10px; 
   display: block;
   display: inline-block; /* Garante que os elementos fiquem em linha */
}

.cont {
   text-align: center;
}

button {
   display: block;
   margin: 20px auto 0;
   padding: 10px 20px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 20px;
}

button:hover {
   background-color: #007bff;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 10px;
    color: white;
   }

body {
      background-color: #fff;
      
   }
   
.botaoo {
     background-image: url(background-jogo.png);
     border-radius: 10px;
     padding: 5px;
     font-size: 20px;
     width: 130px;
   }

.botaoo:hover{
   cursor: pointer;

}
 
   
.titulo {
     display: flex;
     justify-content: center;
     padding: 10px;
     font-size: 30px;
     color: white;
}
.kanban {
     display: flex;
     justify-content: center;
     min-height: 200PX;
     gap: 10px;
     padding: 10px;
       
   }
   
.pergunta {
   text-align: center;
   color: white;
   font-size: 10px;
   width: 500px;
}



   
.item {
    color:rgb(40, 31, 20);
    padding: 10px;
    background-color: white;
    transform: skew(20deg); 
    border-radius: 10px;
    font-size: 15px;
  }
   
.dragging {
       opacity: 0.5;
   }
   
.button:hover {
     color: #e6f41a;
   }

         
@media (max-width: 500px) {  
   .button {
      border-radius: 10px;
      padding: 5px;
      font-size: 10px;
      background-image: none;
      width: 100px;
      
      }    
   }

@media (max-width: 400px) {
   .botaoo {
      text-align: center;
      font-size: 15px;
      width: 70px;


   }
}
