body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(./image.png);
  }
  
  #game-selector {
    margin: 10px;
  }
  
  h2 {
    color: white;
  }
  
  .drag-container {
    margin-top: 10px;
  }
  
  img {
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: grab;
  }
  
  .drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 150px;
    height: 150px; 
    background-color: #f9f9f9;
    vertical-align: top; 
    transition: background-color 0.3s;
    font-size: 12px;
  }

  .centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 50px;
}
  
  .drop-area img {
    width: 100%; 
    height: auto;
    max-width: 70px; 
  }
  
  .drop-area:hover {
    background-color: #eee;
  }
  
  .proximo1,
  .proximo {
    width: 100px;
    height: 50px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: aqua;
    color: orange;
  }
  
  .botoes {
    margin: 20px;
  }
  
  .proximo a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: orange;
  }
  
  @media (max-width: 640px) {
    img {
      width: 50px;
      height: 30px;
      margin: 1px;
      cursor: grab;
    }
  
    .drop-area {
      border: 2px dashed #ccc;
      padding: 5px;
      margin: 5px;
      border-radius: 10px;
      display: inline-block;
      width: 90px;
      height: 100px; /* Garantir altura fixa */
      background-color: white;
      vertical-align: top; /* Mantém as áreas no topo, mesmo ao receber uma imagem */
      transition: background-color 0.3s;
      font-size: 8px;
      text-align: center;
    }
  
    .drop-area img {
      width: 100%; /* Ajusta a imagem ao espaço da área de drop */
      height: auto;
      max-width: 40px; /* Limita o tamanho máximo da imagem */
    }
  
    .drag-container {
      margin-top: 10px;
    }
  
    .drop-area-container {
      gap: 5px;
    }
  
    h2 {
      margin: 10px;
    }
    }

    @media (max-width: 640px) {
      .centralizar {
        margin: 0px 0px 0px 0px;
  }
     }
  