body {
    font-family: Arial, sans-serif;
    background-image: url("background-jogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .imagem1 {
   text-align: justify;
 }
 
 .container {
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
 }

 #score {
   font-size: 40px;
 }


 #incorrect-list {
   padding: 10px;
 }

 
 h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 10px;
 }
 
 h2 {
    color: #fff;
    font-size: 25px;
 }
 
 #options {
    margin-top: 20px;
    
 }
 
 .botao1 {
    display: inline-block; /* Garante que os elementos fiquem em linha */
    margin: 10px; /* Espaçamento entre os botões */
 }
 
 .botao2 {
    text-align: center;
    padding: 10px; 
    display: block;
    display: inline-block; /* Garante que os elementos fiquem em linha */
 }
 
 .cont {
    text-align: center;
 }
 
 button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
 }
 
 button:hover {
    background-color: #0056b3;
 }
 
 
 
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins';
     font-size: 15px;
     color: white;
    }
 
 
 .botaoo {
      background-color: #007bff;
      border-radius: 10px;
      padding: 5px;
      font-size: 20px;
      width: 130px;
      border-radius: 100px;
    }
    
    
 .titulo {
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 30px;
      color: #fff;
    }
 .kanban {
      display: flex;
      justify-content: center;
      min-height: 500PX;
      gap: 10px;
      padding: 10px;
        
    }
    
 .pergunta {
    text-align: center;
    color: white;
    font-size: 30px;
 }
 
 
 
 @media (max-width: 500px) {
     .titulo {font-size: 20px;  
    
        }
    }
 
 @media (max-width: 500px) {
    .pergunta {font-size: 20px;  
      
       }
    }
    
 @media (max-width: 500px) {  
     *{ font-size: 10px;
    
        }
    }
    
 
 @media (max-width: 500px) {  
    .button {
       border-radius: 10px;
       padding: 5px;
       font-size: 10px;
       background-image: none;
       width: 100px;
       
       }    
    }
 
 @media (max-width: 400px) {
    .botaoo {
       text-align: center;
       font-size: 10px;
       width: 100px;
   }
    img {
       width: 200px;
       height: 100px;
   }

   .imagem1 {
      text-align: center;
    }

    #question {
      font-size: 25px;
    }

    h1 {
      padding: 5px;
    }

    .container {
      padding: 5px;
   }
 }
 